@{
    ViewBag.Calc = 20 / 10;
}

@model IQueryable<Book>

<h1>@ViewBag.Calc</h1>

<h1>Welcome to Fox Books</h1>

@foreach(Book b in Model)
{
    <h3>@b.Title</h3>

    <ul>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>ISBN: @b.Isbn</li>
        <li>Classification: @b.Classification</li>
        <li>Page Count: @b.PageCount pages</li>
        <li>Price: $ @b.Price</li>
    </ul>

    <br/>
}

<a asp-action="Index" asp-route-pageNum="1">1</a>
<a asp-action="Index" asp-route-pageNum="2">2</a>
<a asp-action="Index" asp-route-pageNum="3">3</a>

