@{
}

@model Book
    
    @*some of the classes referenced in the text book are no longer used *@
    <div class="card card-outline-primary m-1 p-1">

        <div class="bg- p-1">
            <h4>
                @Model.Title
                <span class="badge bg-info" style="float:right">
                    <small>@Model.Price.ToString("c")</small>
                </span>
            </h4>
        </div>

        <div class="card-text p-1">Author: @Model.Author</div>
        <div class="card-text p-1">Publisher: @Model.Publisher</div>
        <div class="card-text p-1">Category: @Model.Category</div>
        <div class="card-text p-1">Classification: @Model.Classification</div>
        <div class="card-text p-1">Page Count: @Model.PageCount</div>
        <div class="card-text p-1">IBSN: @Model.Isbn</div>
    </div>

    <br/>